/* Sidebar styles */
.Info {
  position: fixed;
  top: 10;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #ecf0f1; 
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  width: 20%;
  height: 80%; /* Set height to 100% to stretch till bottom */
  overflow-y: auto; /* Add scroll if content exceeds height */
  z-index: 1; /* Ensure it's above other content */
  transition: all 0.3s ease; /* Add smooth transition */
}

/* Parallax effect */
.parallax-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   /* Add your background image */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Behind other content */
  opacity: 0.5; /* Adjust opacity as needed */
}

  
  @media (max-width: 768px) {
    .Info {
      width: 20%;
      margin-left: 0;
      height: 40%;
    }
  }
  .black{
    color: black;
  }

  .profilepic{
    width: 120px; /* Set the size of the circular container */
  height: 120px;
  border-radius: 50%; /* Make the container circular */
  overflow: hidden; /* Hide the parts of the image outside the circular container */
  border: 2px solid #fff; /* Optional: add a border to the container */
}
  